@model Capstone.Web.Models.Park
@using Capstone.Web.Models;
@{
    ViewBag.Title = "Detail";
}


<div class="detailContainer">
    <h2 class="headingDetail">@Model.ParkName, @Model.State</h2>
    <img src="~/Content/img/parks/@(Model.ParkCode.ToLower() + ".jpg")" class="parkImgDetail">
    <div class="quoteDiv">
        <p class="inspirationalQuote"><em>@Model.InspirationalQuote</em></p>
        <p class="inspirationalQuoteSource"><em>- @Model.InspirationalQuoteSource</em></p>
    </div>
    <hr />
    <div class="descriptionDiv">
        <p>@Model.ParkDescription</p>
    </div>
    <div class="tablesDetail">
        <table class="parkInfoTable">
            <tr>
                <th class="parkInfoTableHeader">Park Info</th>
            </tr>
            <tr>
                <td><strong>Size:</strong></td>
                <td>@Model.Acreage.ToString("N0") Acres</td>
            </tr>
            <tr>
                <td><strong>Elevation:</strong></td>
                <td>@Model.ElevationInFeet.ToString("N0") ft.</td>
            </tr>
            <tr>
                <td><strong>Founded In: </strong></td>
                <td>@Model.YearFounded</td>
            </tr>
            <tr>
                <td><strong>Park Code:</strong></td>
                <td>@Model.ParkCode</td>
            </tr>
            <tr>
                <td><strong>Climate:</strong> </td>
                <td>@Model.Climate</td>
            </tr>
        </table>

        <table class="campingInfoTable">
            <tr>
                <th class="parkInfoTableHeader">Camping Info</th>
            </tr>
            <tr>
                <td><strong>Number of Campsites:</strong></td>
                <td>@Model.NumberOfCampsites.ToString("N0")</td>
            </tr>
            <tr>
                <td><strong>Annual Visitor Count:</strong></td>
                <td>@Model.AnnualVisitorCount.ToString("N0")</td>
            </tr>
            <tr>
                <td><strong>Entry Fee:</strong></td>
                <td>@Model.EntryFee.ToString("C")</td>
            </tr>
            <tr>
                <td><strong>Miles of Trail:</strong></td>
                <td>@Model.MilesOfTrail.ToString("N0")</td>
            </tr>
            <tr>
                <td><strong>Number of Animal Species:</strong></td>
                <td>@Model.NumberOfAnimalSpecies.ToString("N0")</td>
            </tr>
        </table>
    </div>
    <hr />
    <h3 class="forecastHeading">Five Day Forecast</h3>
    @using (Html.BeginForm("Detail", "Home", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.ParkCode)

        if (Convert.ToBoolean(Session["Fahrenheit"]))
        {
            <button class="tempButton">Celsius</button>

        }
        else
        {
            <button class="tempButton">Fahrenheit</button>
        }
    }
    <div class="forecastContainer">
        @foreach (Weather weather in Model.Weather)
            {
            <div class="weatherLoopDiv">
                <img src="~/Content/img/weather/@(weather.Forecast + ".png")" class="weatherImage" />

                @if (Convert.ToBoolean(Session["Fahrenheit"]))
                {
                    <p class="highTemp">High @weather.High °F</p>
                    <p class="lowTemp">Low @weather.Low °F</p>
                }
                else
                {
                    <p class="highTemp"> @weather.ToCelsius(weather.High) °C</p>
                    <p class="lowTemp">@weather.ToCelsius(weather.Low) °C</p>
                }
                <p class="weatherRecommendation">@weather.Recommendation</p>
            </div>
        }





    </div>
</div>